.panel {
    position: fixed;
    right: -300px;
    top: 50%;
    transform: translateY(-50%);
    width: 250px;
    background-color: var(--hover-bg);
    padding: 20px;
    border-radius: 10px 0 0 10px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.5s ease-in-out;
  }
  
  .visible {
    right: 0;
  }
  
  .message {
    color: var(--white-text);
    margin-bottom: 15px;
  }
  
  .whatsappButton {
    background-color: #25D366;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .whatsappButton:hover {
    background-color: #128C7E;
  }