/* Future.module.css */

.future {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centered to accommodate horizontal movements if needed */
  height: 100vh;
  background-color: black;
  padding: 2rem;
}

.messageRow {
  font-size: 2.5rem; /* Base font size */
  color: white; /* Default text color */
  max-width: 100%;
  text-align: center;
  font-weight: bold;
  margin: 1rem 0;
  display: flex;
  flex-direction: row; /* Arrange TextSegments in a row */
  flex-wrap: nowrap; /* Prevent wrapping to the next line */
  justify-content: center;
  align-items: center;
}

.textSegment {
  margin: 0 0.1em; /* Adjusted margin for better spacing */
  display: inline-block; /* Allows for individual control over text segments */
}

.letterContainer {
  display: inline-flex; /* Ensures letters are laid out horizontally */
  flex-wrap: wrap;
  white-space: pre-wrap; /* Preserves spaces and wraps text as needed */
}

.letter {
  display: inline-block; /* Allows individual letter animations */
}

/* Generic highlight class for any TextSegment */
.highlight .letter {
  color: #3284C2; /* Custom color for highlighted text */
}

@media (max-width: 768px) {
  .messageRow {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
    flex-direction: column; /* Stack TextSegments vertically on smaller screens */
    align-items: center;
  }

  .textSegment {
    margin: 0.2em 0; /* Adjust spacing for vertical stacking */
  }
}