.container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%; /* Ensure full width */
}

.container::-webkit-scrollbar {
  display: none;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure full width */
  max-width: 100%; /* Prevent any restrictions */
}