@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.5vh);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .float {
    animation: float 2s ease-in-out infinite;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .float:hover {
    animation-play-state: paused;
    box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.6);
  }